<section ng-controller="ideaCtrl">
  <input id="idea" type="hidden" value="<%= @idea._id %>">
  <input id="idea_votes" type="hidden" value="<%= @idea.votes %>">
  <div class="row-fluid">
    <div class="span1">
      <div class="text-center">
        <h2>{{idea.votes}}</h2>
        votes
      </div>
      <div class="btn-group">
        <button class="btn pull-left" ng-click="dislike()"><span class="icon-thumbs-down"></span></button>
        <button class="btn pull-left" ng-click="like()"><span class="icon-thumbs-up"></span></button>
      </div>
    </div>
    <blockquote class="span11">
      <h3><%= @idea.title%></a></h3>
      <p><%= @idea.description%></p>
      <small class="text-right">posted by <cite title="Source Title"><%=(@idea.user.nil?) ? "Anonymous" : @idea.user.name%></cite></small>
    </blockquote>
  </div>
</section>
<section>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'opiniondev'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
