<section ng-controller="ideaCtrl">
  <input id="idea" type="hidden" value="<%= @idea._id %>">
  <input id="idea_votes" type="hidden" value="<%= @idea.votes %>">
  <div class="row-fluid">
    <div class="span1">
      <div class="text-center">
        <h2>{{idea.votes}}</h2>
        votes
      </div>
      <div class="btn-group">
        <button class="btn pull-left" ng-click="dislike()"><span class="icon-thumbs-down"></span></button>
        <button class="btn pull-left" ng-click="like()"><span class="icon-thumbs-up"></span></button>
      </div>
    </div>
    <blockquote class="span11">
      <h3><%= @idea.title%></a></h3>
      <p><%= @idea.description%></p>
      <small class="text-right">posted by <cite title="Source Title"><%=(@idea.user.nil?) ? "Anonymous" : @idea.user.name%></cite></small>
    </blockquote>
  </div>
</section>
<section>
  <h2><div class="label warning">//TODO Comments</div></h2>
</section>
