<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Opiniodev Feedback Forum" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag image_path('apple-touch-icon-144x144.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag image_path('apple-touch-icon-114x114.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag image_path('apple-touch-icon-72x72.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag image_path('apple-touch-icon-57x57.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag image_path('favicon.ico'), :rel => 'shortcut icon' %>

  <!-- Javascripts
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>

</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true" data-controller="<%= controller_name %>">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%=root_url%>">
        <%= image_tag("logo.png") %> Opiniodev
      </a>
      <div class="container nav-collapse">
        <ul class="nav nav-pills pull-right">
          <% if current_user %>
              Welcome, <%= current_user.name %>!
              <%= link_to "Sign Out", signout_path %>
          <% else %>
              <%= link_to "Sign in with Twitter", "/auth/twitter" %>
              <%= link_to "Sign in with Facebook", "/auth/facebook" %>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container" ng-app="opiniodevApp">
  <div class="content" id="content">
    <div class="row">
      <div id="alert" class="span12">
        <%=display_flash!%>
      </div>
      <div class="<%= (content_for?(:sidebar)) ? "span9" : "span12" %>">
        <%= yield %>
      </div>
      <% if content_for?(:sidebar) %>
          <div class="span3 sidebar-offset">
            <div class="well" style="padding: 8px 0;">
              <%= yield(:sidebar) %>
            </div>
          </div>
      <% end %>

    </div><!--/row-->
  </div><!--/content-->

  <footer>
    <p>Copyright &copy; Opiniodev <%=Time.now.year%></p>
  </footer>

</div> <!-- /container -->

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18474904-2']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
